In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv("data_sales.csv")

In [6]:
df.describe()

        Retailer ID
count  9.641000e+03
mean   1.173851e+06
std    2.635869e+04
min    1.128299e+06
25%    1.185732e+06
50%    1.185732e+06
75%    1.185732e+06
max    1.197831e+06

In [7]:
#Cleaning the dataset
columns = ["Price per Unit", "Units Sold", "Total Sales", "Operating Profit"]

df[columns] = df[columns].replace({r'[\$,]': ''}, regex=True).astype(float)

In [23]:
for col in columns:
    mean = df[col].mean()
    median = df[col].median()
    mode = df[col].mode()  
    sd = df[col].std()
    skewness = df[col].skew()
    kurtosis = df[col].kurt()


    print(f"{col}:")
    print(f"  Mean: {mean}")
    print(f"  Median: {median}")
    print(f"  Mode: {list(mode)}")  
    print(f" Standard Deviation: {sd}")
    print(f" Skewness: {skewness}")
    print(f" Kurtosis: {kurtosis}")
    print()

Price per Unit:
  Mean: 45.212158937649136
  Median: 45.0
  Mode: [50.0]
 Standard Deviation: 14.705009483110453
 Skewness: 0.36204221306668793
 Kurtosis: 0.4304647474693022

Units Sold:
  Mean: 256.779483456073
  Median: 176.0
  Mode: [225.0]
 Standard Deviation: 214.11710091134557
 Skewness: 1.4637996418332748
 Kurtosis: 1.7080780376207567

Total Sales:
  Mean: 9316.467897521004
  Median: 957.0
  Mode: [10000.0]
 Standard Deviation: 14182.917946904377
 Skewness: 1.8433029871288338
 Kurtosis: 3.1543841211764185

Operating Profit:
  Mean: 3439.278498081112
  Median: 437.0
  Mode: [6300.0, 10500.0]
 Standard Deviation: 5417.539167467157
 Skewness: 2.235878865220591
 Kurtosis: 5.834653945931372

In [24]:
#Groups by retailer, allows you to apply different aggregate functions to different columns
#We are getting average price per unit, and then sum of units sold, total sales, and operating profit 
#Round by 2 decimal places 
#then reset index to default back to regular DF index
grouped_results = df.groupby('Retailer').agg({
    'Price per Unit': 'mean',
    'Units Sold': 'sum',
    'Total Sales': 'sum',
    'Operating Profit': 'sum'
}).round(2).reset_index()

print(grouped_results)

        Retailer  Price per Unit  Units Sold  Total Sales  Operating Profit
0         Amazon           48.76    197990.0    7769912.0         2881885.0
1    Foot Locker           44.78    603919.0   21989528.0         8065150.0
2         Kohl's           44.61    287375.0   10211506.0         3681153.0
3  Sports Direct           42.05    556090.0   18188531.0         7412864.0
4        Walmart           47.18    206225.0    7455850.0         2578226.0
5      West Gear           46.72    624012.0   24204740.0         8538806.0

In [25]:
grouped_results = df.groupby('Region').agg({
    'Price per Unit': 'mean',
    'Units Sold': 'sum',
    'Total Sales': 'sum',
    'Operating Profit': 'sum'
}).round(2).reset_index()

print(grouped_results)

      Region  Price per Unit  Units Sold  Total Sales  Operating Profit
0    Midwest           40.36    390887.0   13560070.0         5274020.0
1  Northeast           46.69    501279.0   18632487.0         6802150.0
2      South           38.24    490710.0   14407736.0         6093344.0
3  Southeast           50.18    407000.0   16317146.0         6055601.0
4       West           49.92    685735.0   26902628.0         8932969.0

In [26]:
grouped_results = df.groupby('State').agg({
    'Price per Unit': 'mean',
    'Units Sold': 'sum',
    'Total Sales': 'sum',
    'Operating Profit': 'sum'
}).round(2).reset_index()

print(grouped_results)

             State  Price per Unit  Units Sold  Total Sales  Operating Profit
0          Alabama           36.69     63327.0    1763350.0          914772.0
1           Alaska           57.22     30815.0    1475313.0          449840.0
2          Arizona           45.96     46919.0    1578229.0          534486.0
3         Arkansas           33.34     48468.0    1263941.0          491575.0
4       California           49.44    162034.0    5925674.0         1902069.0
5         Colorado           60.09     41378.0    2099661.0          771362.0
6      Connecticut           43.62     34696.0    1157352.0          415241.0
7         Delaware           47.41     30275.0    1229846.0          452445.0
8          Florida           56.69    133430.0    5928380.0         2092645.0
9          Georgia           46.81     56391.0    1899750.0          689336.0
10          Hawaii           64.25     40375.0    2228245.0          584990.0
11           Idaho           40.01     63827.0    1927690.0          812123.0
12        Illinois           47.84     24957.0     959752.0          384845.0
13         Indiana           38.85     26332.0     883624.0          337932.0
14            Iowa           36.42     23446.0     742403.0          265526.0
15          Kansas           38.29     29463.0     997289.0          351025.0
16        Kentucky           43.45     28664.0    1007284.0          393590.0
17       Louisiana           52.34     57615.0    2375082.0          941727.0
18           Maine           48.64     22410.0     919595.0          318774.0
19        Maryland           44.07     20818.0     775808.0          275771.0
20   Massachusetts           44.79     32895.0    1107696.0          335396.0
21        Michigan           43.42     50095.0    1862546.0          813604.0
22       Minnesota           41.37     20838.0     737807.0          267032.0
23     Mississippi           35.48     56814.0    1559176.0          636913.0
24        Missouri           31.49     36404.0     968323.0          390725.0
25         Montana           45.02     42713.0    1571090.0          623203.0
26        Nebraska           36.87     19154.0     592907.0          243952.0
27          Nevada           54.33     51831.0    2085854.0          706069.0
28   New Hampshire           53.64     40812.0    1641171.0          578634.0
29      New Jersey           43.98     26540.0     993430.0          365725.0
30      New Mexico           50.61     52633.0    1986512.0          673807.0
31        New York           49.08    169140.0    6422918.0         2333001.0
32  North Carolina           44.48     62936.0    2395657.0          975646.0
33    North Dakota           39.77     22781.0     773557.0          268858.0
34            Ohio           44.59     47781.0    1848459.0          752886.0
35        Oklahoma           33.42     40459.0    1062080.0          410663.0
36          Oregon           53.74     50536.0    2134969.0          757322.0
37    Pennsylvania           49.94     27662.0    1035758.0          415676.0
38    Rhode Island           40.35     27473.0     844687.0          304587.0
39  South Carolina           47.72     72610.0    2928565.0         1132433.0
40    South Dakota           43.83     22973.0     849562.0          294340.0
41       Tennessee           36.10     66077.0    1806748.0          849369.0
42           Texas           39.27    157950.0    4577359.0         1848325.0
43            Utah           26.83     48548.0     969652.0          387346.0
44         Vermont           49.31     38685.0    1435306.0          578602.0
45        Virginia           52.64     52969.0    2157510.0          771951.0
46      Washington           67.65     46611.0    2633075.0          699147.0
47   West Virginia           41.07     29873.0    1068920.0          428298.0
48       Wisconsin           37.06     23950.0     772751.0          280092.0
49         Wyoming           43.94     50228.0    1857754.0          654408.0

In [27]:
grouped_results = df.groupby('Product').agg({
    'Price per Unit': 'mean',
    'Units Sold': 'sum',
    'Total Sales': 'sum',
    'Operating Profit': 'sum'
}).round(2).reset_index()

print(grouped_results)

                     Product  Price per Unit  Units Sold  Total Sales  \
0              Men's Apparel           50.31    305233.0   12283155.0
1    Men's Athletic Footwear           43.78    434451.0   15322410.0
2      Men's Street Footwear           44.24    593320.0   20882669.0
3               Men's aparel           60.00       900.0      54000.0
4            Women's Apparel           51.58    433127.0   17847910.0
5  Women's Athletic Footwear           41.11    317136.0   10659235.0
6    Women's Street Footwear           40.26    391444.0   12770688.0

   Operating Profit
0         4440519.0
1         5168997.0
2         8280294.0
3           16200.0
4         6856750.0
5         3896040.0
6         4499284.0